@import "tailwindcss";

:root {
  --text: #6b6375;
  --font-sans: "Geist Variable", sans-serif;
  --font-mono: "Geist Mono Variable", monospace;

  font-family: var(--font-sans);
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
  }
} */

#root {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
}

@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    margin: 0;
    padding: 0;
  }
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
