@import 'tailwindcss';

:root {
  --text: #6b6375;
  --text-h: #08060d;

  --code-bg: #f4f3ec;

  --font-sans: 'Geist Variable', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;

  font-family: var(--font-sans);
  color-scheme: light dark;
  color: var(--text);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;

    --code-bg: #1f2028;
  }
}

#root {
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

p {
  margin: 0;
}

.code {
  font-family: var(--font-mono);
}
